{% extends 'base.html.twig' %}

{% block title %}All thought{% endblock %}

{% block body %}
<h1>Thoughts</h1>

<ul>
{% for thought in thoughts %}
{% dump(thought.colors) %}
<li><div class="square {{ thought.colors }}">Feel </span> ~ <a href="{{ path('thought_read', {'id':thought.id})}}">{{thought.title}}</a> écrite le : {{ thought.createdAt|date("d/m à h:m") }}</li>    
{% endfor %}
</ul>

{% endblock %}
