{% extends 'base.html.twig' %}

{% block title %}All thought{% endblock %}

{% block body %}
<h1>Thoughts</h1>

<ul>
{% for thought in thoughts %}
<li><a href="{{ path('thought_read', {'id':thought.id})}}">{{thought.title}}</a></li>    
{% endfor %}
</ul>

{% endblock %}
