{% extends 'base.html.twig' %}

{% block title %}Colors and Feel{% endblock %}

{% block body %}

<h1>Colors & Feel</h1>

<ul>
{% for colorFeel in colorFeels %}
    
<li><a href="{{ path('colorFeel_read', {'id': colorFeel.id})}}">{{colorFeel.feel}}</a></li>

{% endfor %}
</ul>

{% endblock %}
