.square{
}
.Rage {
color: #F30C0C;
}
.Vigiliance {
color: #F3F00C;
}
.Extase {
color: #1A751C;
}
.Adoration{
color: #130CF3;
}
.Terreur{
color: #0CF310;
}
.Etonnement{
color: #E50CF3;
}
.Chagrin{
color: #0CD0F3;
}
.Aversion{
color: #E50CF3;
}

